<div class="slideshow-ghost"></div>
<div class="slideshow-cue-card">
    <div class="loader-gif"></div>
</div>

<div class="slideshow-inner">
	<div class="slideshow-viewport">
		<div class="slideshow-view-container clearfix">
		</div>
	</div>

	{{#if _useButtons}}
		<div class="controls">
			<button class="left">Left</button>
			<button class="right">Right</button>
		</div>
	{{/if}}
</div>